<!DOCTYPE html>
 <html>
  <head>
    <title>www.xpiriance.com</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    
      <link rel="stylesheet" type="text/css" href="style/style.css">
       <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

</head>
  <body>

<script type="text/javascript">

  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }

  var x = 5;

  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();

  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    console.log("This us");
    console.log(s1);
    console.log(s0);
    s1.async=true;
    s1.src='https://embed.tawk.to/5bb1dc358a438d2b0cdfe202/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);

  if(x==0){
    (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5bb1dc358a438d2b0cdfe202/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
  }

  else if (x==1) {
    (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5bb278af8a438d2b0cdfe78e/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
  }


</script>


   	
 </body>

</html>
